* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1f1f1f;
  min-height: 100vh;
  max-width: '1200px';
  display: flex;
  justify-content: center;
}

.hand {
  animation-name: hand-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes hand-animation {
  0% { transform: rotate( 0.0deg) }
  10% { transform: rotate(14.0deg) } 
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}