@import "highlight.js/styles/monokai.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.notion-code {
  @apply bg-slate-600 dark:bg-gray-800 text-white rounded-xl px-4 py-2 w-full overflow-auto max-h-[600px] my-4;
}

.notion-text-code {
  @apply bg-slate-600 dark:bg-gray-800 text-white rounded-md px-1.5 py-0.5;
}

.notion-heading_1 {
  @apply text-4xl font-bold mt-6 mb-2;
}

.notion-heading_2 {
  @apply text-3xl font-bold my-2;
}

.notion-heading_3 {
  @apply text-2xl font-bold my-2;
}

.notion-bulleted_list {
  @apply list-disc list-inside my-4;
}

.notion-bulleted_list_item {
  @apply my-2;
}

.notion-image {
  @apply rounded-xl overflow-hidden w-full md:w-8/12 max-w-[800px] my-2 mx-auto;
}

.notion-callout {
  @apply flex w-full bg-gray-400 dark:bg-gray-800 p-2 rounded-xl my-2;
}

.notion-callout > .content {
  @apply italic;
}

.notion-to_do_list {
  @apply w-full my-2;
}

.notion-table {
  @apply my-2 w-full rounded-xl overflow-hidden;
}

.notion-table_row:first-child {
  @apply font-bold bg-gray-400 dark:bg-gray-800;
}

.notion-table_row {
  @apply bg-gray-300 dark:bg-gray-700 text-sm;
}

.notion-table_row:nth-child(2n) {
  @apply bg-gray-200 dark:bg-gray-600;
}

.notion-table_cell {
  @apply p-2;
}

/* Scrollbar
En Firefox no aplico cambios */
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #ffffff00;
}

*::-webkit-scrollbar-thumb {
  background-color: #454545;
  border-radius: 10px;
  border: 3px solid #ffffff00;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: hsl(212.7, 26.8%, 83.9);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
