---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div
  class="flex flex-col gap-2 bg-transparent hover:bg-neutral-800 border border-slate-500 hover:border-slate-300 transition-all duration-300 rounded-md p-4"
>
  <h2 class="text-xl font-bold">{title}</h2>
  <slot />
</div>
